/* ================Var=============== */

$desktop-gap: 20px;
$small-gap: 10px;

// Desktop-font
$big-font-size: 24px;
$mid-font-size: 18px;
$sml-font-size: 16px;

// <1100px-font
$big2-font-size: 16px;
$mid2-font-size: 15px;
$sml2-font-size: 12px;

/* ================================== */

body {
  background: url('../../Media/images/Texture/dark-brick-wall.png');
  background-color: #000000;

  font-family:'Courier New', Courier, monospace;
  letter-spacing: 1px;
  color: white;
  
  display: grid;
  grid-template: 1fr / 1fr minmax(1100px, 1300px) 1fr;
  column-gap: 10px;

  .topButton {
    display: none;
    position: fixed; 
    bottom: 15px;
    right: 0;
    outline: none;
    border: none;
    background-color: rgba(255, 0, 0, 0);
    cursor: pointer;
    z-index: 99;
    
    img {
      height: 50px;
      width: 50px;
    }
  }

  h1, h2 {
    font-size: $big-font-size;
    letter-spacing: 2px;
    text-align: center;
    letter-spacing: 5px;
  }

  .wrapper {
    grid-column-start: 2;
    display: grid;
    grid-template: auto 1fr auto/ 1fr;
    grid-template-areas:"header"
		                    "main"
		                    "footer";
    row-gap: $desktop-gap;
    min-height: 100vh;
  }
}

header {
  grid-area: header;
  display: grid;
  grid-template: repeat(4, auto) / 1fr;
  justify-items: center;
  row-gap: $desktop-gap;

  border-bottom: 4px double white;

  .menu {
    display: grid;
    grid-template: 1fr / repeat(3, 250px);
    column-gap: 15px;

    
    &__button {
      color: white;
      background-color: #ff000000;
      font-size: $mid-font-size;
      height: 35px;
      border: none;
    }
    
    &__button:hover {
      font-size: 19px;
      border: 3px white double;
      border-radius: 10px;
    }
  }
}

main {
  grid-area: main;
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  row-gap: $desktop-gap;

  border-bottom: 4px double white;
  
  .stuff-and-comp {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    row-gap: $desktop-gap;

    &__info {
      text-align: center;
      font-size: $mid-font-size;
      span {
        font-weight: bold;
      }
    }

    &__cards {
      display: grid;
      grid-template: 1fr / repeat(5, 200px);
      justify-content: space-between;
    }

    &__card, .card {
      display: grid;
      grid-template: repeat(3, auto) 1fr / 1fr;
      justify-items: center;
      row-gap: 15px;
  
      &__image {
        display: grid;
        grid-template: 1fr auto / 1fr;
        row-gap: 15px;

        border-bottom: 1px solid white;
      
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 100%;
          box-shadow: 0px 100px 700px 0px rgba(255, 255, 255, 0.5);
        }
      }
      
      &__name {
        font-size: $mid-font-size;
        font-weight: bold;
      }
      
      &__name2 {
        font-size: $sml-font-size;
        font-weight: bold;
      }

      &__description {
        text-align: center;
        font-size: $sml-font-size;
      }
    }
  }

  .service-and-price {
    display: grid;
    grid-template: repeat(2, auto) / 1fr;
    row-gap: $desktop-gap;

    &__cards {
      display: grid;
      grid-template: 1fr 1fr / repeat(4, 250px);
      justify-content: space-between;
      row-gap: $desktop-gap;
    }

    &__card, .card2 {
      display: grid;
      grid-template: repeat(4, auto) / 1fr;
      justify-items: center;
      row-gap: 15px;

      &__image {
        border-bottom: 1px solid white;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &__name {
        font-size: $mid-font-size;
        font-weight: bold;
      }

      &__price {
        font-weight: bold;
        font-size: $mid-font-size;
      }

      .modalButton {
        color: white;
        background-color: #ff000000;
        font-size: $sml-font-size;
        border: none;
      }

      .modalButton:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
        color: white;
        font-size: $sml-font-size;
      }

      a:hover {
        text-decoration: underline;
        color: white;
      }
    }

    .modalWindow {
      position: fixed;
      top: 0%;
      right: 0%;
      
      grid-template: minmax(auto, 40%) / minmax(auto, 40%);
      justify-content: center;
      align-items: center;
      align-content: center;

      height: 100%; 
      width: 100%; 

      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);

      z-index: 99;

      &__block {
        display: grid;
        grid-template: 1fr auto / 1fr;
        row-gap: 10px;
        margin: 10%;
        
        background-color: #000000b9;
        border: 4px double white;
        border-radius: 15px;
      }

      &__image {
        text-align: center;
        border-bottom: 4px double white; 
        img {
          height: 100%; 
          width: 100%; 
        }
      }
  
      &__text {
        display: grid;
        grid-template: repeat(4, auto) / 1fr;
        row-gap: 10px;
        text-align: center;

        &_small {
          font-size: $mid-font-size;
          text-align: left;
          margin-left: 1%;
        }
        &_big {
          font-size: $big-font-size;
        }
      }
    }
  }
  
  .contact-details {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
    row-gap: $desktop-gap;

    &__block, .block {
      display: grid;
      grid-template: repeat(3, auto) / repeat(2, 1fr);
      row-gap: $desktop-gap;

      &__map {
        grid-column: 1 / 3;

        iframe {
          width: 100%;
          height: 400px; 
          filter: grayscale(1) invert(100%);
        }
      }

      p {
        font-size: $mid-font-size;
        text-align: center;
        span {
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

footer {
  grid-area: footer;

  p {
    text-align: center;
    a {
      text-decoration: none;
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 1100px) { // то что происходит до 1100px 

  body {
    grid-template: 1fr / 1fr minmax(320px, 1100px) 1fr;

    .menuButton {
      display: block;
      position: fixed; 
      top: 48vh;
      right: 0%;
      outline: none;
      border: none;
      background-color: rgba(255, 0, 0, 0);
      cursor: pointer;
      z-index: 99;
      
      img {
        height: 40px;
        width: 40px;
      }
    }

    .topButton {
      img {
        height: 40px;
        width: 40px;
      }
    }

    h1, h2 {
      font-size: $big2-font-size;
      letter-spacing: 3px;
    }

    .wrapper {
      row-gap: $small-gap;
    }
  }

  header {
    grid-template: repeat(3, auto) / 1fr;
    row-gap: $desktop-gap;

    img {
      width: 100%;
    }
    
    .menu {
      display: none;
    }

    .menu-mobile {
      display: grid;
      grid-template: repeat(3, 1fr) / 1fr;
      row-gap: 15px;

      justify-items: center;
      align-items: center;

      position: fixed;
      height: 100%; 
      width: 100%; 

      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      z-index: 99;

      &__button {
        color: white;
        background-color: #ff000000;
        font-size: $big-font-size;

        width: 100%;
        border: none;
      }

      .first {
        align-self: end;
      }
      .last {
        align-self: start;
      }

      &__button:hover {
        font-size: $big-font-size;
        border: none;
        border-bottom: solid 1px white;
      }
    }
  }

  main {
    row-gap: $desktop-gap;
      
    .stuff-and-comp {
      row-gap: $small-gap;
  
      &__info {
        font-size: $mid2-font-size;
      }
  
      &__cards {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
        gap: $small-gap;
      }
      
      .double {  
        width: 50%;
        grid-column: 1 / 3;
        order: -2;     
      }

      &__card, .card {
        margin: 0 auto;
        max-width: 350px;
        row-gap: 10px;

        &__image {
          img {
            box-shadow: 0px 115px 500px 0px rgba(255, 255, 255, 0.4);
          }
        }
      
        
        &__name {
          font-size: $mid2-font-size;
        }
        
        &__name2 {
          font-size: $sml2-font-size;
        }
  
        &__description {
          font-size: $sml2-font-size;
        }
      }
    }
  
    .service-and-price {
      row-gap: $small-gap;
  
      &__cards {
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        gap: $small-gap;
      }
  
      &__card, .card2 {
        margin: 0 auto;
        max-width: 350px;

        row-gap: 10px;

        &__name {
          font-size: $mid2-font-size;
        }
  
        &__price {
          font-size: $mid2-font-size;
        }
  
        a {
          font-size: $sml2-font-size;
        }
  
      }

      .modalWindow {      
        grid-template: minmax(auto, 60%) / minmax(auto, 75%);
      }
    }
    
    .contact-details {
      row-gap: $small-gap;
  
      &__block, .block {
        justify-items: center;
        align-items: center;
        gap: $small-gap;
  
        &__map {

          iframe {
            width: 90vw;
            height: 40vh; 
          }
        }
        p {
          font-size: $mid2-font-size;
        }
      }
    }
  }

  footer {
    p {
      font-size: $sml2-font-size;
    }
  }
}

@media (min-width: 460px) { // то что происходит после 460px 
  body {
    h1, h2 {
      font-size: $big-font-size;
    }
  }

  main {
      
    .stuff-and-comp {
      &__info {
        font-size: $mid-font-size;
      }

      &__card, .card {
         
        &__name {
          font-size: $mid-font-size;
        }
        
        &__name2 {
          font-size: $sml-font-size;
        }
  
        &__description {
          font-size: $sml-font-size;
        }
      }
    }
  
    .service-and-price {
  
      &__card, .card2 {   

        &__name {
          font-size: $mid-font-size;
        }
  
        &__price {
          font-size: $mid-font-size;
        }
  
        a {
          font-size: $sml-font-size;
        }
  
      }
    }
    
    .contact-details {
      p {
        font-size: $mid-font-size;
      }
    }
  }

  footer {
    p {
      font-size: $sml-font-size;
    }
  }

}

@media (max-width: 460px) { // то что происходит до 460px 
  main {
    .service-and-price {

      &__card, .card2 {
  
        &__name {
          font-size: $mid2-font-size;
        }
  
        &__price {
          font-size: $sml2-font-size;
        }
  
        .modalButton {
          font-size: $mid2-font-size;
        }
      }
  
      .modalWindow {      
        grid-template: minmax(auto, 95%) / minmax(auto, 95%);
      }
    }
    .contact-details {
      row-gap: $small-gap;
  
      &__block, .block {
        grid-template: repeat(5, auto) / 1fr;
        &__map {
          grid-column: 1 ;
        }
      }
    }
  }
}

